#estilo_input1 {
    background: #02c5fd;
    color: white;
    align-content: center;
    margin-left: 45px;
}

#estilo_input2 {
    background: #ff0080;
    color: white;
     margin-left: 40px;
}

#estilo_footer {
    background: #f9f9f9;
}

#estilo_logo {
    width: 220px;
    height: 75px;
}

#form {
    width: 80%;
    margin: 0 auto;
}

#img {
    border-right: 0px;
}

#estilodiv {
    text-align: center;
}

#estilodiv2 {
    text-align: center;
}
#estilodiv3 {
    text-align: center;
}
#estilo_btn1{
    background: #ff0080;
    color: white;
}
#login{
    background-color: #ff0080;
    color: white;
    align-content: center;
     margin-left: 45px;
}

#divfoo{
    background-color:#FAFAFA;
    color: lightslategray;
}